<!--center-->


    <ng-include src="'partials/screenplay-toolbar.html'"></ng-include>
    <div ng-controller="CardController">
        <div class="container col-xs-12" ng-repeat="card in cards">
            <div class="row">
                <a id="scene-1"></a>
                <div class="col-xs-12 scene-card screenplay">
                    <ng-include src="'partials/scene-card.html'" ></ng-include>
                    <ng-include src="'partials/scene-card-meta.html'"></ng-include>
                </div>
            </div>
        </div>
    </div>
    <hr>






