<!--center-->
<div class="col-sm-6">


    <ng-include src="'partials/screenplay-toolbar.html'"></ng-include>

    <div class="row">
        <a id="scene-1"></a>
        <div class="col-xs-12 scene-card screenplay">
            <p class="sceneheader">Scene Heading</p>

            <p class="action">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis pharetra varius quam sit amet vulputate.
                Quisque mauris augue, molestie tincidunt condimentum vitae, gravida a libero. Aenean sit amet felis
                dolor, in sagittis nisi. Sed ac orci quis tortor imperdiet venenatis. Duis elementum auctor accumsan.
                Aliquam in felis sit amet augue.</p>

            <p class="character">Lorem</p>
            <p class="parenthetical">(parentetical)</p>
            <p class="dialogue">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis pharetra varius quam sit amet vulputate.
                Quisque mauris augue, molestie tincidunt condimentum vitae, gravida a libero. Aenean sit amet felis
                dolor, in sagittis nisi. Sed ac orci quis tortor imperdiet venenatis. Duis elementum auctor accumsan.
                Aliquam in felis sit amet augue.</p>









            <div class="meta-data">
                <p class="lead">
                    <button class="btn btn-default">Read More</button>
                </p>
                <p class="pull-right"><span class="label label-default">keyword</span> <span
                        class="label label-default">tag</span> <span class="label label-default">post</span></p>
                <ul class="list-inline">
                    <li><a href="#">2 Days Ago</a></li>
                    <li><a href="#"><i class="glyphicon glyphicon-comment"></i> 2 Comments</a></li>
                    <li><a href="#"><i class="glyphicon glyphicon-share"></i> 14 Shares</a></li>
                </ul>
            </div>


        </div>
    </div>
    <hr>
    <div class="row">
        <a id="scene-2"></a>
        <div class="col-xs-12 scene-card screenplay">
            <p class="sceneheader">Scene Heading</p>

            <p class="action">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis pharetra varius quam sit amet vulputate.
                Quisque mauris augue, molestie tincidunt condimentum vitae, gravida a libero. Aenean sit amet felis
                dolor, in sagittis nisi. Sed ac orci quis tortor imperdiet venenatis. Duis elementum auctor accumsan.
                Aliquam in felis sit amet augue.</p>

            <p class="character">Lorem</p>
            <p class="parenthetical">(parentetical)</p>
            <p class="dialogue">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis pharetra varius quam sit amet vulputate.
                Quisque mauris augue, molestie tincidunt condimentum vitae, gravida a libero. Aenean sit amet felis
                dolor, in sagittis nisi. Sed ac orci quis tortor imperdiet venenatis. Duis elementum auctor accumsan.
                Aliquam in felis sit amet augue.</p>









            <div class="meta-data">
                <p class="lead">
                    <button class="btn btn-default">Read More</button>
                </p>
                <p class="pull-right"><span class="label label-default">keyword</span> <span
                        class="label label-default">tag</span> <span class="label label-default">post</span></p>
                <ul class="list-inline">
                    <li><a href="#">2 Days Ago</a></li>
                    <li><a href="#"><i class="glyphicon glyphicon-comment"></i> 2 Comments</a></li>
                    <li><a href="#"><i class="glyphicon glyphicon-share"></i> 14 Shares</a></li>
                </ul>
            </div>


        </div>
    </div>
    <hr>
    <div class="row">
        <a id="scene-3"></a>
        <div class="col-xs-12 scene-card screenplay">
            <p class="sceneheader">Scene Heading</p>

            <p class="action">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis pharetra varius quam sit amet vulputate.
                Quisque mauris augue, molestie tincidunt condimentum vitae, gravida a libero. Aenean sit amet felis
                dolor, in sagittis nisi. Sed ac orci quis tortor imperdiet venenatis. Duis elementum auctor accumsan.
                Aliquam in felis sit amet augue.</p>

            <p class="character">Lorem</p>
            <p class="parenthetical">(parentetical)</p>
            <p class="dialogue">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis pharetra varius quam sit amet vulputate.
                Quisque mauris augue, molestie tincidunt condimentum vitae, gravida a libero. Aenean sit amet felis
                dolor, in sagittis nisi. Sed ac orci quis tortor imperdiet venenatis. Duis elementum auctor accumsan.
                Aliquam in felis sit amet augue.</p>









            <div class="meta-data">
                <p class="lead">
                    <button class="btn btn-default">Read More</button>
                </p>
                <p class="pull-right"><span class="label label-default">keyword</span> <span
                        class="label label-default">tag</span> <span class="label label-default">post</span></p>
                <ul class="list-inline">
                    <li><a href="#">2 Days Ago</a></li>
                    <li><a href="#"><i class="glyphicon glyphicon-comment"></i> 2 Comments</a></li>
                    <li><a href="#"><i class="glyphicon glyphicon-share"></i> 14 Shares</a></li>
                </ul>
            </div>


        </div>
    </div>
    <hr>
    <div class="row">
        <a id="scene-4"></a>
        <div class="col-xs-12 scene-card screenplay">
            <p class="sceneheader">Scene Heading</p>

            <p class="action">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis pharetra varius quam sit amet vulputate.
                Quisque mauris augue, molestie tincidunt condimentum vitae, gravida a libero. Aenean sit amet felis
                dolor, in sagittis nisi. Sed ac orci quis tortor imperdiet venenatis. Duis elementum auctor accumsan.
                Aliquam in felis sit amet augue.</p>

            <p class="character">Lorem</p>
            <p class="parenthetical">(parentetical)</p>
            <p class="dialogue">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis pharetra varius quam sit amet vulputate.
                Quisque mauris augue, molestie tincidunt condimentum vitae, gravida a libero. Aenean sit amet felis
                dolor, in sagittis nisi. Sed ac orci quis tortor imperdiet venenatis. Duis elementum auctor accumsan.
                Aliquam in felis sit amet augue.</p>









            <div class="meta-data">
                <p class="lead">
                    <button class="btn btn-default">Read More</button>
                </p>
                <p class="pull-right"><span class="label label-default">keyword</span> <span
                        class="label label-default">tag</span> <span class="label label-default">post</span></p>
                <ul class="list-inline">
                    <li><a href="#">2 Days Ago</a></li>
                    <li><a href="#"><i class="glyphicon glyphicon-comment"></i> 2 Comments</a></li>
                    <li><a href="#"><i class="glyphicon glyphicon-share"></i> 14 Shares</a></li>
                </ul>
            </div>


        </div>
    </div>
    <hr>
    <div class="row">
        <a id="scene-5"></a>
        <div class="col-xs-12 scene-card screenplay">
            <p class="sceneheader">Scene Heading</p>

            <p class="action">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis pharetra varius quam sit amet vulputate.
                Quisque mauris augue, molestie tincidunt condimentum vitae, gravida a libero. Aenean sit amet felis
                dolor, in sagittis nisi. Sed ac orci quis tortor imperdiet venenatis. Duis elementum auctor accumsan.
                Aliquam in felis sit amet augue.</p>

            <p class="character">Lorem</p>
            <p class="parenthetical">(parentetical)</p>
            <p class="dialogue">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis pharetra varius quam sit amet vulputate.
                Quisque mauris augue, molestie tincidunt condimentum vitae, gravida a libero. Aenean sit amet felis
                dolor, in sagittis nisi. Sed ac orci quis tortor imperdiet venenatis. Duis elementum auctor accumsan.
                Aliquam in felis sit amet augue.</p>









            <div class="meta-data">
                <p class="lead">
                    <button class="btn btn-default">Read More</button>
                </p>
                <p class="pull-right"><span class="label label-default">keyword</span> <span
                        class="label label-default">tag</span> <span class="label label-default">post</span></p>
                <ul class="list-inline">
                    <li><a href="#">2 Days Ago</a></li>
                    <li><a href="#"><i class="glyphicon glyphicon-comment"></i> 2 Comments</a></li>
                    <li><a href="#"><i class="glyphicon glyphicon-share"></i> 14 Shares</a></li>
                </ul>
            </div>


        </div>
    </div>
    <hr>
</div><!--/center-->