<!--left-->
<div class="col-sm-3">
    <div class="panel panel-default">
        <div class="panel-heading">Scene Navigator</div>
        <div class="panel-body">
            <ul>
                <li>
                    <a href="" ng-click="scrollTo('scene-1')">ext. scene 1 - day</a>
                </li>
                <li>
                    <a href="" ng-click="scrollTo('scene-2')">ext. scene 2 - day</a>
                </li>
                <li>
                    <a href="" ng-click="scrollTo('scene-3')">ext. scene 3 - day</a>
                </li>
                <li>
                    <a href="" ng-click="scrollTo('scene-4')">ext. scene 4 - day</a>
                </li>
                <li>
                    <a href="" ng-click="scrollTo('scene-5')">ext. scene 5 - day</a>
                </li>

            </ul>
        </div>
    </div>
    <hr>
    <div class="panel panel-default">
        <div class="panel-heading">Title</div>
        <div class="panel-body">Content here..</div>
    </div>
    <hr>
    <div class="panel panel-default">
        <div class="panel-heading">Title</div>
        <div class="panel-body">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis pharetra varius quam sit amet vulputate.
            Quisque mauris augue, molestie tincidunt condimentum vitae, gravida a libero. Aenean sit amet felis
            dolor, in sagittis nisi. Sed ac orci quis tortor imperdiet venenatis. Duis elementum auctor accumsan.
            Aliquam in felis sit amet augue.</div>
    </div>
    <hr>
    <div class="panel panel-default">
        <div class="panel-heading">Title</div>
        <div class="panel-body">Content here..</div>
    </div>
    <hr>
</div><!--/left-->