<div id="editor-container">
    <ul id="screenplay-toolbar">
        <li><a class="btn-heading" title="Scene Heading"><i class="glyphicon glyphicon-header"></i></a></li>
        <li><a class="btn-action" title="Action"><i class="glyphicon glyphicon-bullhorn"></i></a></li>
        <li><a class="btn-character" title="Character"><i class="glyphicon glyphicon-user"></i></a></li>
        <li><a class="btn-dialog" title="Dialogue"><i class="glyphicon glyphicon-comment"></i></a></li>
        <li><a class="btn-parenthetical" title="Parenthetical"><span>(&nbsp;)</span></a></li>
        <li><a class="btn-transition" title="Transition"><i class="glyphicon glyphicon-transfer"></i></a></li>
        <li><a class="btn-shot" title="Shot"><i class="glyphicon glyphicon-film"></i></a></li>
        <li><a class="btn-text" title="Text"><i class="glyphicon glyphicon-font"></i></a></li>
    </ul>
</div>